# DB configuration
spring.datasource.url=jdbc:postgresql://<host>:<port>/<database>
spring.datasource.username=
spring.datasource.password=

# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect=

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=update

# Hibernate disable createClob() as it is not implemented yet in the driver
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

# JWT token expiration time in milliseconds
security.jwt.token.expire-length=31536000000

# The secret the JWT tokens are signed with
security.jwt.token.secret=

# Enable multipart uploads
spring.servlet.multipart.enabled=true

# Threshold after which files are written to disk.
spring.servlet.multipart.file-size-threshold=2KB

# Max file size.
spring.servlet.multipart.max-file-size=200MB

# Max Request Size
spring.servlet.multipart.max-request-size=215MB

# All files uploaded through the REST API will be stored in this directory
file.upload-dir=/data/beacon-api

# CORS
it.bz.beacon.allowedOrigins=

# Kontakt.IO properties
kontakt.io.apiUrl=https://api.kontakt.io
kontakt.io.acceptHeader=application/vnd.com.kontakt+json;version=10
kontakt.io.apiKey=
