commands:
  01_mount:
    command: "/tmp/createswap.sh"
 
files:
  "/tmp/createswap.sh":
      mode: "000755"
      content : |
        #!/bin/bash
        set -euo pipefail
        if [ -f /swap ]; then
          echo "Swap file already exists!"
        else 
          echo "Creatin swap-file ..."
          sudo fallocate -l 2G /swap
          dd if=/dev/zero of=/swap bs=1024 count=2097152
          chmod 600 /swap
          mkswap /swap
          echo "/swap   swap   swap    defaults   0   0" >> /etc/fstab
          swapon -a
          echo 'Swap creation complete.'
        fi
